.menu-filter-container{
    padding: 15px;

    .price-range{
        
        .slider-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:15px;
        }
    }
}